/*-------------
 	General
-------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #000000;
  scroll-behavior: smooth;
}


ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

.grid-info {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-products {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*-------------
 	Header
-------------*/
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 35px 100px 0;
}

header {
  font: 20px 'Quicksand', sans-serif;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li a {
  text-shadow: grey 1px 2px 3px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }
}

/*----------------
 	Main Section
----------------*/
.main {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #000000;
  text-align: center;
  box-shadow: inset 0 0 10px;
}

.background-image-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #ffffff;
  z-index: -1;
  background-image: url(../img/amway4.jpeg);
  background-repeat: no-repeat;
}

.logo-main {
  background-image: url(../img/logo-main.png);
  z-index: 1;
  position: absolute;
  top: 150px;
  left: 150px;
  width: 200px;
  height: 70px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.main h1 {
  font: bold 50px 'Open Sans', sans-serif;
  text-align: center;
  text-shadow: grey 2px 3px 4px;
}

@media (max-width: 800px) {
  .main {
    min-height: 600px;
  }

  .main h1 {
    font-size: 48px;
  }

  .main h2 {
    font-size: 24px;
  }
}

/*----------------------
 	info Section
----------------------*/
.info {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 0 10px;
}

.background-image-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #f7f7f7;
  background-image: url(../img/amway13.jpg);
  background-repeat: no-repeat;
}

.info li {

}

.info-text {
  margin-left: 400px;
  margin-top: 20px;
  text-shadow: grey 1px 2px 3px;
  color: #000000;
  font: 25px 'Open Sans', sans-serif;
  margin-bottom: 35px;
  text-align: center;
  }

.info a {
  color: #0175fc;
}

.foto {
  width: 190px;
  height: 190px;
  border-radius: 100px;
}
@media (max-width: 1000px) {
  .grid-info li {
    flex-basis: 70%;
    margin-bottom: 65px;
  }

  .info li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .grid-info li {
    flex-basis: 100%;
  }
}

/*--------------------
 	products Section
---------------------*/
.products {
  box-shadow: inset 0 0 30px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
}

/*.background-image-products {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url(../img/hren3.jpg);
}*/

.products p {
  font: 25px 'Open Sans', sans-serif;
  line-height: 1.8;
  text-shadow: grey 1px 2px 3px;
  text-align: center;
  padding: 20px 200px;
}

.product1 {
  background-image: url(../img/product1.jpg);
}

.product2 {
  background-image: url(../img/product2.jpg);
}

.product3 {
  background-image: url(../img/product3.jpg);
}

.product4 {
  background-image: url(../img/product4.jpg);
}

.product5 {
  background-image: url(../img/product5.jpg);
}

.grid-products li {
  display: flex;
  flex-direction: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 50px;
  background-color: #333;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 15px;
}

.grid-products .small {
  flex-basis: 100%;
}

@media (max-width: 1000px) {

.grid-products .small, {
    flex-basis: 100%;
  }
}

/*-------------
 	Footer
-------------*/
footer {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 30px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
  z-index: 1;
}

footer ul li {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: -1;
}

footer a {
  z-index:1;
}

footer p {
  color: black;
  margin-top: 5px;
  font: 25px 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-shadow: grey 1px 2px 3px;
  text-align: center;
  padding: 5px 200px;
}

footer p a {
  color: #fff;
}

.background-image-footer {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  background-image: url(../img/amway-footer2new3.png);
  width: 180px;
  height: 60px;
  z-index: 1;
  top: 280px;
  left: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }

/* -- Demo ads -- */
@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}
