/*---------------------------------------------------
 	                     General
---------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #000000;
  scroll-behavior: smooth;
}


ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
}

.grid-info {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-products {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*----------------------------------------------------
 	                     Header
----------------------------------------------------*/
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 35px 100px 0;
}

header {
  font: 20px 'Quicksand', sans-serif;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li a {
  text-shadow: grey 1px 2px 3px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

/*---------------------------------------------------
                   	Main Section
---------------------------------------------------*/
.main {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #000000;
  text-align: center;
  box-shadow: inset 0 0 10px;
}

.background-image-main {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #ffffff;
  z-index: -1;
  background-image: url(../img/amway4.jpeg);
  background-repeat: no-repeat;
}

.logo-main {
  display: flex;
  background-image: url(../img/logo-main.png);
  z-index: 1;
  position: absolute;
  top: 150px;
  left: 150px;
  width: 200px;
  height: 70px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.main h1 {
  font: bold 50px 'Open Sans', sans-serif;
  text-align: center;
  text-shadow: grey 2px 3px 4px;
}

/*---------------------------------------------------
 	                   Info Section
---------------------------------------------------*/
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: inset 0 0 10px;
}

.background-image-info {
  display: flex;
  width: 2000px;
  height: 500px;
  background-size: 100%;
  z-index: -1;
  background-color: red;
  background-image: url(../img/amway14.jpg);
  background-repeat: no-repeat;
}

.info-text {
  margin-left: 100px;
  margin-top: 20px;
  text-shadow: grey 1px 2px 3px;
  color: #000000;
  font: 25px 'Open Sans', sans-serif;
  margin-bottom: 35px;
  }

.info a {
  color: #0175fc;
}

.foto {
  display: flex;
  background-image: url(../img/M.jpg);
  width: 850px;
  height: 250px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 150px;
  background-color: red;
}

/*---------------------------------------------------
 	                 Products Section
---------------------------------------------------*/
.products {
  box-shadow: inset 0 0 30px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
}

.products p {
  font: 25px 'Open Sans', sans-serif;
  line-height: 1.8;
  text-shadow: grey 1px 2px 3px;
  text-align: center;
  padding: 20px 200px;
}

.product1 {
  display: flex;
  background-image: url(../img/product1.jpg);
}

.product2 {
  display: flex;
  background-image: url(../img/product2.jpg);
}

.product3 {
  display: flex;
  background-image: url(../img/product3.jpg);
}

.product4 {
  display: flex;
  background-image: url(../img/product4.jpg);
}

.product5 {
  display: flex;
  background-image: url(../img/product5.jpg);
}

.grid-products li {
  display: flex;
  flex-direction: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 50px;
  background-color: #333;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 15px;
}

.grid-products .small {
  flex-basis: 100%;
}

/*---------------------------------------------------
 	                     Footer
---------------------------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 30px;
  z-index: 2;
}

footer ul {
  display: flex;
  margin-bottom: 10px;
  font-size: 32px;
  z-index: 1;
}

footer ul li {
  display: flex;
}

footer a {
  z-index:1;
}

.svyaz {
  display: flex;
  color: black;
  margin-top: 35px;
  font: 25px 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-shadow: grey 1px 2px 3px;
  text-align: center;
  padding: 5px 200px;
}

footer p a {
  color: #fff;
}

.logo-footer {
  display: flex;
  background-image: url(../img/logo-main.png);
  z-index: 1;
  position: sticky;
  top: 150px;
  left: 150px;
  width: 200px;
  height: 70px;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 2px solid blue;
}

.logo-footer-a {
  border: 2px dotted blue;
  z-index: 2;
  top: 150px;
  left: 180px;
  width: 210px;
  height: 80px;
}

.inst {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/inst2.png);
  width: 70px;
  height: 70px;
  z-index: 1;
  margin-left: 300px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5px;
  border: 2px solid purple;
}

.inst-footer-a {
  border: 2px dotted purple;
  z-index: 2;
}

.whats {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/whats3.png);
  width: 70px;
  height: 70px;
  z-index: 1;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5px;
  border: 2px solid green;
}

.whats-footer-a {
  border: 2px dotted green;
  z-index: 2;
}

.tel {
  margin-top: 20px;
  border: 2px solid black;
}

.tel-footer-a {
  border: 2px dotted black;
  z-index: 2;
}

.footer-logo-text {
  text-align: center;
  color: black;
  font: 15px 'Open Sans', sans-serif;
  text-shadow: grey 1px 2px 3px;
  margin-bottom: 15px;
}
