/*-------------
 	General
-------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #000000;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

a.btn {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #ffffff;
  font-weight: 800;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

section h2.title {
  color: #000000;
  text-transform: capitalize;
  font: bold 32px 'Open Sans', sans-serif;
  margin-bottom: 35px;
  text-align: center;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

ul.grid {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*-------------
 	Header
-------------*/
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 35px 100px 0;
}

header {
  font: 20px 'Quicksand', sans-serif;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li a {
  text-shadow: grey 1px 2px 3px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }
}

/*----------------
 	Hero Section
----------------*/
.hero {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #000000;
  text-align: center;
  box-shadow: inset 0 0 10px;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #ffffff;
  z-index: -1;
}

.hero .background-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  opacity: 0.15;
}

.hero h1 {
  font: bold 50px 'Open Sans', sans-serif;
  margin-bottom: 450px;
  text-shadow: grey 2px 3px 4px;
}

.hero a.btn {
  padding: 20px 46px;
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero a.btn {
    padding: 15px 40px;
  }
}

/*----------------------
 	Features Section
----------------------*/
.features {
  display: flex;
  background-color: #f7f7f7;
  box-shadow: inset 0 0 10px;
}

.features li {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  flex-basis: 33%;
}

.features li p {
  margin-top: 5px;
  font-size: 25px;
  text-shadow: grey 1px 2px 3px;
  text-align: center;
}

.features a {
  color: #0175fc;
}

.foto {
  display: flex;
  flex-direction: row;
  align-items: right;
  text-align: right;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
@media (max-width: 1000px) {
  .features .grid li {
    flex-basis: 70%;
    margin-bottom: 65px;
  }

  .features li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .features .grid li {
    flex-basis: 100%;
  }
}

/*--------------------
 	Our Work Section
---------------------*/
.оur-work {
  background-color: #b0b0b0;
  box-shadow: inset 0 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0;
}

.our-work p {
  font-size: 25px;
  text-shadow: grey 1px 2px 3px;
  text-align: center;
}

.our-work ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}

.our-work ul li {
  margin: 0 8px;
}

.our-work ul li {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
  margin: 0 8px;
}

.our-work ul li:first-child {
  margin-left: 0;
}

.our-work ul li:last-child {
  margin-right: 0;
}
.our-work .grid li {
  padding: 20px;
  width: 100px;
  height: 200px;
  border-radius: 50px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333;
}

.our-work .grid .small {
  flex-basis: 40%;
}

@media (max-width: 1000px) {

  .our-work .grid .small, {
    flex-basis: 100%;
  }
}

/*-------------
 	Footer
-------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #adadad;
  background-color: #414a4f;
  padding: 60px 0;
  box-shadow: inset 0 0 30px;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}

footer img {
  margin: 0 8px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}

@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }

/* -- Demo ads -- */
@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}
